{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="bg-dark text-center pt-3 pb-3">
    <h1 class="text-light">YouTube Sentiment Analysis</h1>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="mt-5">
            <form method="post" class="form-inline" enctype="multipart/form-data" action="" role="form">
                {% csrf_token %}
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Password</label>
                    {{ form.link }}
                </div>
                <button type="submit" class="btn btn-primary mb-2">Find</button>
            </form>
        </div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ data.author}}</p>
                <h5 class="card-title">{{ data.title }}</h5>
                <p class="card-text">{{ data.length }} min durations</p>
                <a href="#" class="btn btn-primary mb-3">Analysis</a>
                <h5>Comments</h5>
                <ul class="list-group list-group-flush">
                    {% for comment in data.comments %}
                        <li class="list-group-item">{{ comment }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>
{% endblock %}